<html>
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Post List</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <h2>Contact us</h2>
        <p>You can contact me at: MyEmail@gmail.com</p>    
        </div>
        <div id="sidebar">
            <h2>My Blog</h2>
            <a href="/">Home</a>
            <br>
            <a href="/contact-us">Contact Us</a>
        </div>
    </body>
</html>