body {
    background-color: #CBF1F5;
}

hr {
    background-color: #CBF1F5;
    border-style: none;
    border-top-style: dotted;
    border-color: #395B64;
    border-width: 5px;
    width: 2%;
}

h1 {
    color: #30475E;
}

h2 {
    color: #30475E
}

h3 {
    color: #719FB0;
}