{% extends 'base.html'%}

{% block title %}
{{ post.title }}
{% endblock%}

{% block content %}
<h1>{{ post.title }} Details:</h1>
<p>{{ post.author }}</p>
<p>{{ post.body }}</p>
<hr>
<p>Created time: {{ post.created_date}}</p>

{% endblock %}

{% block comment %}
{% if new_comment %}
<P>Your comment is saved. Please wait until we review it!</P>
<hr>
{% else %}
<form method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Send Comment">
</form>
{% endif %}

{% for comment in post.get_active_comment %}
<hr>
<p>Name: {{ comment.name }}</p>
<p>Comment: {{ comment.comment }} </p>
<hr>
{% endfor %}
{% endblock %}